name: Docker Image CI

on:
  push:
    # Запускать воркфлоу при создании тегов, которые начинаются с 'v' (например, v1.0, v1.0.1)
    tags:
      - 'v*.*.*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        # Этот шаг автоматически извлечет тег из Git (например, v1.0.1)
        # и подготовит его для использования в следующем шаге.
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/vault-n8n

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Используем теги, сгенерированные на предыдущем шаге.
          # Это присвоит образу два тега: номер версии и 'latest'.
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}